configuration {
    font: "JetBrainsMono NF Medium 11";
    show-icons: true;
    display-drun: "Search: ";
    drun-display-format: "{icon} {name}";
    modi: "window,run,drun";
    icon-theme: "breeze-dark";

}

@theme "/dev/null"

* {
    background-color: rgba(58, 56, 62, 0.6);

}

window {
    width: 45%;
    height: 60%;
    border: 2px;
    border-color: #aad291;
    padding: 0.5em;

}

element {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0);

}

element normal {
    text-color: #f4eff7;
    background-color: rgba(0, 0, 0, 0);

}

element selected {
    text-color: #193807;
    background-color: #aad291;

}

element-text {
    text-color: inherit;
    background-color: inherit;
    vertical-align: 0.5;

}

element-icon {
    background-color: inherit;
    size: 32;

}

inputbar { padding: 0.5em; }
prompt { text-color: #f4eff7; }

entry {
    placeholder: "type something...";
    text-color: #f4eff7;
    placeholder-color: #848583;

}
